Uebung6/Teil 1 - Counter mit FaultContract/CounterClientWinFormsServiceReference/Service References/ServiceReference1/CounterServiceCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CounterServiceCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CounterServiceCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CounterState">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountValue" type="xs:int" />
      <xs:element minOccurs="0" name="CounterId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxCountValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CounterState" nillable="true" type="tns:CounterState" />
  <xs:complexType name="CounterFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountValue" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CounterFaultContract" nillable="true" type="tns:CounterFaultContract" />
</xs:schema>